table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}
th {
    background-color: #f2f2f2;
}
button {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.absent {
    color: red;
}
.arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrow-up {
    border-bottom: 5px solid black;
}
.arrow-down {
    border-top: 5px solid black;
}
.action-btn {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    outline: none;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.action-btn.delete:hover {
    background-color: #ff2800;
}

.action-btn.edit:hover {
    background-color: #ffe500;
}
.action-btn.accept:hover {
    background-color: #00c322;
}
.edit-mode .edit-actions button {
    display: inline-block;
    margin-right: 5px;
}
.edit-mode .edit-actions button:last-child {
    margin-right: 0;
}
.edit-mode input {
    width: auto;
    padding: 5px;
}
.hidden {
    display: none;
}
.category-dropdown {
    display: none;
}
.category-dropdown.active {
    display: block;
}
.error {
    color: red;
}
.success {
    color: green;
}
.highlight {
    background-color: limegreen;
}